.Header {
    height: 3.75rem;
    background-color: var(--grey-800);

    padding: 1rem 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header .logo {
    margin-left: 3.5rem;
    display: flex;
    align-items: center; /* Para centralizar verticalmente a imagem e o texto */
    gap: 0.6rem;
}

.Header strong {
    color: var(--grey-200);
}

.Header .logo img {
    width: 1.75rem;
}

.Header .profilePicture img {
    width: 2.2rem;
    border-radius: 22%;
    
    margin-right: 1rem;
    margin-top: 0.5rem;
}