:root {
	--white: #fafafa;
	--grey100: #e1e1e6;
	--grey300: #c4c4cc;
	--grey400: #8d8d99;
	--grey600: #323238;
	--grey700: #29292e;
	--grey800: #202024;
	--grey900: #121214;
	
	--green500: #00875f;

	--size-font: 12px;
}


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--grey900);
    color: var(--grey300);
	-webkit-font-smoothing: antialiased;
}

body, input, textarea, button {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 1rem;
}